body{
  background-color: #F2F2F2;
  color: #1A1D1A;
  font-family: 'Comfortaa', cursive;
  margin: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}

a:focus{
  outline: none;
}
div:focus{
  outline: none;
}
img{
  max-width: 95%;
  height: auto;
  display: block;
}


.container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 300px 400px auto 100px;
}

.header{
  grid-column: span 12;
  display: grid;
  grid-template-columns: 50% 50%;
  align-self: center;
  align-items: center;
  margin-left: 4vw;
  margin-right: 5vw;
}

#title{
  justify-self: start;
  font-size: 4em;
}
#linkedIn{
  justify-self: end;
  font-size: 2em;
}

/* Title Image */

#title-img{
  display:grid;
  grid-template-columns: auto;
  grid-column: span 5;
  grid-row: span 1;
  justify-self: end;
  margin-right: 3vw;
  margin-left: 5vw;
  align-content: center;
}

#image{
  max-height: 95%;
  width: auto;
  border-radius: 50%;
  border-color: #1A1D1A;
  box-shadow: -1px 1px 3px 3px rgba(0,0,0, .3), -3px 6px 4px 5px rgba(0,0,0,.1) ;
}

#Title-blurb{
  grid-column: span 7;
  margin-right: 20vw;
  font-size: 1.5em;
  align-self: center;
}


#tribute-content{
  grid-column: span 12;
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto auto;
  margin-top: 10vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.History-Title{
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.history{
  grid-column: span 3;
  justify-self: center;
  align-self: start;
  font-size: 2.5em;
}

.social-title{
  grid-column: span 1;
  justify-self: center;
  align-self: start;
  font-size: 2.5em;
}

.image-container{
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: start;
  grid-gap:2vw;
}

.image-container img{
  border-radius: 5%;
  width: 100%;
  height: auto;
  max-height: 500px;
  margin: auto;
  display: block;
  box-shadow: -0px 0.5px 2px 2px rgba(0,0,0, .2), -3px 4px 3px 4px rgba(0,0,0,.1) ;
}

.image-container video{
  border-radius: 5%;
  max-width: 100%;
  height: auto;
  max-height: 500px;
  margin: auto;
  display: block;
  box-shadow: -0px 0.5px 2px 2px rgba(0,0,0, .2), -3px 4px 3px 4px rgba(0,0,0,.1) ;
}

.caption{
  margin: 2vh auto;
  width: 90%;
  background-color: #fdfdfd;
  padding: 1vh 1vw;
  border-radius: 15px;
  box-shadow: -1px 2px 2px 2px rgba(0,0,0,.1) ;
}

.icon{
  height: 3vw;
  width: 3vw;
  object-fit: fill;
  border-radius: 20%;
}

#facebook{
  grid-column: span 1;
  justify-self: end;
  margin-top: 5vh;
  align-self: start;
}
#twitter{
  grid-column: span 1;
  justify-self: center;
  margin-top: 5vh;
  align-self: start;
}
#insta{
  margin-top: 5vh;
  grid-column: span 1;
  justify-self: start;
  align-self: start;
}

.tweet{
  grid-column: span 3;
  border-color: #1da1f2;
  padding: 5px;
  border-style: solid;
  width: 85%;
  justify-self: center;
  margin-bottom: 3vh;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 3vw auto  ;
  grid-template-rows: repeat(3, auto);
}

.tweet-pic{
  margin-left: 3px;
  margin-top: 4px;
  grid-row: span 3;
  grid-column: span 1;
}

.tweet-pic img{
  object-fit:fill;
  border-radius: 50%;
}

.tweet-name{
  grid-column: span 1;
  grid-row: span 1;
  font-weight: 600;
  align-self: start;
  justify-self: start;
}

.tweet-name p{
  margin: 0;
  padding: 0;
  font-size: .5em;
  float:right;
  line-height: 2em;
}

@media(max-width: 1000px){
  #tribute-content{
    grid-column: span 12;
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto auto;
    margin-top: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .History-Title{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .history{
    grid-column: span 4;
  }

  .social-title{
    display: none;
  }

  #socialMediaLinks{
    grid-column: span 3;
  }

  .icon{
    height: 15vw;
    width: 15vw;
    object-fit: fill;
    border-radius: 20%;
    margin-bottom: 5vh;
  }


}

.tweet-at{
  grid-column: span 1;
  grid-row: span 1;
  font-size: .7em;
  margin-left: 2px;
  align-self: start;
  justify-self:start;
  margin-top: 3px;
  margin-bottom: 10px;
}

.tweet-content{
  grid-column: span 1;
}



#socialMediaLinks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(200px,1fr) );
  background-color: #fdfdfd;
  box-shadow: -1px 2px 2px 2px rgba(0,0,0,.1) ;
  border-radius: 15px;
  min-height: 200px;
  align-self: start;
}




.footer{
  display: grid;
  width: 95vw;
  margin: auto;
  height: auto;
  grid-column: span 12;
  background-color: #e0e0e0;
  padding: 5vh 2vw;
  margin-top: 5vh;
  min-height: 175px;
  align-content: end;
  grid-template-columns: 50% 50%;
  border-radius: 15px;
  margin-bottom: 2vh;
}

.trademark{
  font-size: 1.25em;
  grid-column: span 1;
  justify-self: end;
  align-self: end;
  justify-content: end;
  display: grid;
  width: 50%;
}

p{
  justify-self: end;
  margin: 1px;
}


.contact{
  font-size: 1.25em;
  grid-column: span 1;
  justify-self: start;
}
address{
  line-height: 1.2em;
  margin-top: 2px;
  margin-bottom: 2px;
}
